<div class="grid-wrapper">
  <div class="jumbotron" *ngFor="let order of orders">
    <p><strong>Id: </strong>{{order.id}}</p>
    <p><strong>Client name: </strong>{{order.clientName}}</p>
    <p><strong>State: </strong>{{convertEnumToString(order.state)}}</p>
  </div>
</div>

<div class="jumbotron order-created-jumbotron" *ngIf="httpError">
  <p>Something went wrong!</p>
  <p>Error message: {{httpError.message}}</p>
  <p>Click button below to reload the page</p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="reloadPage()">Reload page</a></p>
</div>

