<div *ngIf="httpError == null">
  <div class="row report-filters text-center">
    <div class="col-sm-3"><strong>Date From</strong></div>
    <div class="col-sm-3"><strong>Date To</strong></div>
  </div>

  <div class="row report-filters">
    <div class="col-sm-3"><input type="date" class="form-control" placeholder="DateFrom" [(ngModel)]="filterDateFrom" (input)="filter()"></div>
    <div class="col-sm-3"><input type="date" class="form-control" placeholder="DateTO" [(ngModel)]="filterDateTo" (input)="filter()"></div>
  </div>

  <div *ngIf="(filterDateFrom > filterDateTo) && filterDateFrom != '' && filterDateTo != ''" class="alert alert-danger custom-alert">
    Incorrect dates!
  </div>

  <table class="table table-striped table-bordered report-list">
    <thead>
      <tr>
        <td>City</td>
        <td>Amount</td>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td><strong>Total amount</strong></td>
        <td><strong>{{totalAmount}}</strong></td>
      </tr>
    </tfoot>

    <tbody>
      <tr *ngFor="let row of cityAmountList">
        <td>{{row.city}}</td>
        <td>{{row.amountByCity}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron order-created-jumbotron" *ngIf="httpError">
  <p>Something went wrong!</p>
  <p>Error message: {{httpError.message}}</p>
  <p>Click button below to reload the page</p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="reloadPage()">Reload page</a></p>
</div>
