<form *ngIf="shouldShowForm" #createOrderForm="ngForm">
  <div class="form-group row">
    <label for="clientName" class="col-sm-2 col-form-label">Client name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="clientName" [(ngModel)]="clientName" name="clientName" required (click)="shouldShowAlert=false">
    </div>
  </div>
  <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city" required (click)="shouldShowAlert=false">
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" [(ngModel)]="address" name="address" required (click)="shouldShowAlert=false">
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required (click)="shouldShowAlert=false">
    </div>
  </div>
  <div class="form-group row">
    <label for="count" class="col-sm-2 col-form-label">Count</label>
    <div class="col-sm-10">
      <input type="number" min="0" class="form-control" id="count" [(ngModel)]="count" name="count" required (click)="shouldShowAlert=false">
    </div>
  </div>

  <div [hidden]="!shouldShowAlert" class="alert alert-danger custom-alert">
    All fields are required
  </div>

  <div class="submit-btn">
    <button type="submit" class="btn btn-primary" (click)="addOrder(clientName, city, address, phone, count, createOrderForm);">Create Order</button>
  </div>
</form>

<div class="jumbotron order-created-jumbotron" *ngIf="!shouldShowForm">
  <p *ngIf="httpError == null && createdOrder != null ">A new order with id: {{createdOrder.id}} has been created!</p>
  <p *ngIf="httpError == null">Click button below to create another new order</p>
  <p *ngIf="httpError">A new order hasn't been created!</p>
  <p *ngIf="httpError">Error message: {{httpError.message}}</p>
  <p *ngIf="httpError">Click button below to create another new order</p>
  <p><a class="btn btn-primary btn-lg" role="button" (click)="showForm()">Create another order</a></p>
</div>
