<div *ngIf="httpError == null">
  <div class="row filters text-center">
    <div class="col-sm-3"><strong>Client name</strong></div>
    <div class="col-sm-3"><strong>City</strong></div>
    <div class="col-sm-3"><strong>Count From</strong></div>
    <div class="col-sm-3"><strong>Date From</strong></div>
  </div>
  <div class="row filters text-center">
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="Client name" [(ngModel)]="filterClientName" (input)="filter()">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{filterCity}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <li *ngFor="let city of allUniqCities"><a (click)="chooseCity(city)">{{city}}</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <input type="number" min="0" class="form-control" placeholder="Count" [(ngModel)]="filterCount" (input)="filter()" (click)="filter()">
    </div>
    <div class="col-sm-3">
      <input type="date" class="form-control" placeholder="Date" [(ngModel)]="filterDate" (input)="filter()">
    </div>
  </div>

    <table class="table table-bordered orders-list">
      <thead>
        <tr>
          <td>Id</td>
          <td>Client Name</td>
          <td>City</td>
          <td>Address</td>
          <td>Phone</td>
          <td>Count</td>
          <td>Date</td>
          <td>State</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <ng-template [ngIf]="chosenOrder?.id != order.id" [ngIfElse]="edit">
            <td>{{order.id}}</td>
            <td>{{order.clientName}}</td>
            <td>{{order.city}}</td>
            <td>{{order.address}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.count}}</td>
            <td>{{order.dateCreated | date:'medium'}}</td>
            <td>{{convertEnumToString(order.state)}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" (click)="editOrder(order)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteOrder(order.id)">Delete</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <div class="text-center orders-list-pagination">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li [class.disabled]="currentPage == 1">
            <a aria-label="Previous" (click)="showPrevPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of arrayOfPages" [class.active]="page + 1 == currentPage">
            <a (click)="getOrders(page + 1)">{{page + 1}}</a>
          </li>
          <li [class.disabled]="currentPage == totalNumberOfPages">
            <a aria-label="Next" (click)="showNextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <ng-template #edit>
    <td>
    <input type="text" [(ngModel)]="chosenOrder.id" class="form-control" disabled name="id"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="chosenOrder.clientName" class="form-control" name="clientName"/>
    </td>
    <td>
    <input type="text" [(ngModel)]="chosenOrder.city" class="form-control" name="city"/>
    </td>
    <td>
    <input type="text" [(ngModel)]="chosenOrder.address" class="form-control" name="address"/>
    </td>
    <td>
    <input type="text" [(ngModel)]="chosenOrder.phone" class="form-control" name="phone"/>
    </td>
    <td>
    <input type="text" [(ngModel)]="chosenOrder.count" class="form-control" name="count"/>
    </td>
    <td>
      <input type="text" [(ngModel)]="chosenOrder.dateCreated" class="form-control" disabled />
    </td>
    <td class="text-center">
    <button class="btn btn-sm btn-success" (click)="save()">Save</button>
      <button class="btn btn-sm btn-warning" (click)="cancel()">Cancel</button>
    </td>
  </ng-template>

  <div class="jumbotron order-created-jumbotron" *ngIf="httpError">
    <p>Something went wrong!</p>
    <p>Error message: {{httpError.message}}</p>
    <p>Click button below to reload the page</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="reloadPage()">Reload page</a></p>
  </div>

  <div *ngIf="shouldShowDeleteModal" class="delete-order-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure that you want to delete the order with id: {{idForDelete}}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelModal()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="deleteModal()">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

