.orders-list thead {
  font-weight: bold;
}

.orders-list-pagination nav {
  cursor: pointer;
}

.delete-order-modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 24%;
}

.filters {
  margin-bottom: 20px;
}
